<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/recipes"></ion-back-button>
    </ion-buttons>
    <ion-title>{{loadedRecipe?.recipeTitle}}</ion-title>
    <ion-buttons slot="primary">
        <ion-button (click)="editRecipe()"><ion-icon name="pencil-outline"></ion-icon></ion-button>
        <ion-button (click)="deleteRecipe()"><ion-icon name="trash" slot="icon-only"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col class="ion-no-padding"><ion-img style="object-fit:fill; height:400px; width:100%;" [src]="loadedRecipe?.imageUrl"></ion-img></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1 class="ion-text-center">{{loadedRecipe?.recipeTitle}}</h1>
      </ion-col>
    </ion-row>
    <ion-col>
      <h1 class="ion-text-center">Ingredients:</h1>
      <ion-item *ngFor="let ing of loadedRecipe?.ingredients">
        <ion-label>{{ing?.ingredientName}}</ion-label>
        </ion-item>
    </ion-col>
  </ion-grid>
</ion-content>
